/* styles.css */

/* Base styles for the page */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand, .nav-link {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.navbar-brand i, .nav-link i {
    margin-right: 8px;
    font-size: 18px;
}

.navbar-brand:hover, .nav-link:hover {
    color: #007bff;
}

.avatar-img-navbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer; /* Wskaźnik kursora zmienia się na rękę, aby pokazać, że jest to klikane */
}

/* Dropdown menu styles */
.dropdown-menu {
    min-width: 200px;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item i {
    margin-right: 10px;
}

/* Hide the dropdown caret */
.dropdown-toggle::after {
    display: none;
}

